.home-container {
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 5%;
    margin-right: 5%;
}

.home-card-container {
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 5%;
}

.home-carousel-img {
    width: 100%;
}

.flight-result-stack {
    margin-left: 5%;
    margin-right: 5%;
}

.flight-result-stack .container {
    padding-left: 0%;
    padding-right: 0%;    
}


.flight-result-footer {
    position: fixed;
    bottom: 0;
    background-color: #fff;
    border:solid;
}


.booking-container {
    margin-left: 5%;
    margin-right: 5%;
}

.booking-details-header {
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 0%;
    margin-right: 0%;
}

.booking-add-passenger {
    /* padding-left: 0%;
    padding-right: 0%; */
    margin-left: 0%;
    margin-right: 0%;
}

.booking-card-picker {
    border: solid;
}

.booking-seat-input {
    position: absolute;
    opacity: 0%;
}

.booking-seat-label1 {
    background-color: #bbd7fc; 
    border: solid; 
    border-width: 0.15em;
    border-color: grey;
    width: 2.5em;
    height: 2.5em;
    padding: 25% 25% ;
    font-size: 0.9em;
}

.booking-seat-label2 {
    background-color: #bbd7fc; 
    border: solid; 
    border-width: 0.15em;
    border-color: grey;
    width: 2.5em;
    height: 2.5em;
    padding: 25% 25% ;
    font-size: 0.9em;
}

.booking-seat-label1:hover {
    cursor: pointer;
}

.booking-seat-label2:hover {
    cursor: no-drop;
}

.booking-seat-input:checked + .booking-seat-label1 {
    background-color: red;
}



